@model WebStore.Domain.Models.Product.CatalogViewModel
@{
    ViewData[ "Title" ] = "Shop";
}

@section top {
    <section id="topBannerA">
        <div class="container">
            <img src="~/template/images/shop/banner.jpg" alt="" />
        </div>
    </section>
}

    <section>
        <div class="row">
            @*<div class="col-sm-3">
                @await Html.PartialAsync( "Partial/_LeftSideBar" )
            </div>*@
            <div class="col-sm-9 padding-right">
                @await Html.PartialAsync( "Partial/_ProductItems" , Model.Products )
                <ul class="pagination">
                    <li class="active"><a href="">1</a></li>
                    <li><a href="">2</a></li>
                    <li><a href="">3</a></li>
                    <li><a href="">&raquo;</a></li>
                </ul>
            </div>
        </div>
    </section>